body{
    background-color: #f06060;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
}
.heart{
    height: 100px;
    width: 100px;
    margin: auto;
    transform: rotate(45deg);
    animation: beat 1.5s infinite;
    background-color: white;
}
.heart:before{
    position: absolute;
    content: "";
    height: 60px;
    width: 100px;
    border-radius: 100px 100px 0 0;
    top: -59px;
    background-color: white;
}
.heart:after{
    position: absolute;
    content: "";
    height: 60px;
    width: 100px;
    background-color: white;
    border-radius: 100px 100px 0 0;
    transform: rotate(-90deg);
    top: 19.5px;
    right: 80px;
}
@keyframes beat{
    50%{
       transform: rotate(45deg) scale(0.7);
    }
}
